.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  width: 100%;
}

.column {
  grid-column: span 12;
}

.imageWrapper {
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.04),
    0px 2.025px 7.84688px rgba(0, 0, 0, 0.027),
    0px 0.8px 2.925px rgba(0, 0, 0, 0.02),
    0px 0.175px 1.04062px rgba(0, 0, 0, 0.013);
}

.heroImageDesktop {
  display: none;
}

.heroImageMobile {
  display: block;
}

@media (min-width: 768px) {
  .heroImageDesktop {
    display: block;
  }
  .heroImageMobile {
    display: none;
  }
}
