.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #fff;
  color: #050505;
  padding: 15px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 1px;
  background-color: #0000001a;
}

.link {
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  .link:hover {
    color: #434349;
  }
}

@media (hover: none) {
  .link:active {
    color: #434349;
  }
}
