.button {
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:active {
  background-color: #d6e1f5;
}

.xMark {
  width: 28px;
  height: 28px;
}

.bars3 {
  width: 32px;
  height: 32px;
}

@media (min-width: 1024px) {
  .button {
    display: none;
  }
}
